# ++++++++++++ 必选参数 +++++++++++++++++++++++++++++
# ++++++++++++ 查询数据的数据库链接信息 +++++++++++++++
Read_Database_Host=192.168.10.10
Read_Database_Port=3306
Read_Database_User=zhangweijian
Read_Database_Password=zhangweijian
Read_Database_Db=600ly_basic_data
# ++++++++++++ 查询数据的数据库链接信息 +++++++++++++++
# 项目ID
Proj_ID = 100001
# 项目的控制间隔时长（分钟）
Control_Interval=30
# 气象站数据表名称
WeatherStation_Table=bd_weather_station_2020
# 气象站的设备ID
WeatherStation_ID=100006
# 二次网数据记录表名称
SecNet_Table=bd_ysz_mainstation_2020
# 二次网供水温度
SecNet_GST=ZHF1_GS_T
# 二次网回水温度
SecNet_HST=ZHF1_HS_T
# 二次网流量
SecNet_Flow=120

# 标准基础热负荷设定（应该按照建筑设计院的设置原则进行设置，单位是瓦每平方米）
Standard_Base_HeatLoad=45
# 该建筑物群的总供热面积（平方米）
Area=50000
# 该建筑物群的目标最低平均温度
Min_Indoor_Temp=20.5
# 该建筑物群的比例系数
PID_P_coef=5
# 该建筑物群的积分系数
PID_I_coef=3
# 该建筑物群的运行热负荷误差上限
Run_HeatLoad_Upper=10
# 该建筑物群的设计热负荷误差上限
Design_HeatLoad_Upper=10
# ++++++++++++ 必选参数 +++++++++++++++++++++++++++++