# ++++++++++++ 必选参数 +++++++++++++++++++++++++++++
# ++++++++++++ 查询数据的数据库链接信息 +++++++++++++++
Read_Database_Host=192.168.10.10
Read_Database_Port=3306
Read_Database_User=zhangweijian
Read_Database_Password=zhangweijian
Read_Database_Db=600ly_basic_data
# ++++++++++++ 查询数据的数据库链接信息 +++++++++++++++
# 项目名称：海域香颂
Area_Name=别墅2#机组（南）
# 项目ID
Proj_ID = 100012
# 项目的控制间隔时长（分钟），该数值修改时要注意，需要与相应热源的控制间隔相等
Control_Interval=30
# 气象站数据表名称
WeatherStation_Table=bd_weather_station_2021
# 气象站的设备ID
WeatherStation_ID=100023
# 二次网数据记录表名称
SecNet_Table=bd_tlcf_substation_bshrz_2021
# 二次网供水温度
SecNet_GST=BH2_C2_GS_T
# 二次网回水温度
SecNet_HST=BH2_C2_HS_T
# 二次网流量
SecNet_Flow=128

# 标准基础热负荷设定（应该按照建筑设计院的设置原则进行设置，单位是瓦每平方米）
Standard_Base_HeatLoad=40
# 该建筑物群的总供热面积（平方米）
Area=24600
# 该建筑物群的目标最低平均温度
Min_Indoor_Temp=21.5
# 该建筑物群的比例系数
PID_P_coef=5
# 该建筑物群的积分系数
PID_I_coef=3
# 该建筑物群的运行热负荷误差上限
Run_HeatLoad_Upper=10
# 该建筑物群的设计热负荷误差上限
Design_HeatLoad_Upper=10
# 访问网络数据账号和口令
ACCESS_TOKEN=17_-z7lTsRwNjyjaUYlgE-NQCgDJIMWMVe3K7rogtG_9MyhdXI8hj0pYNZnvoNJdGACUVv28vRpTw0FM_WGNXLaQw8kFf0tryaMV0XeF0KShgg0DsyyhwEo96mCtlaWHe2DY4QbyUFUE169oU7IGCKdAAAJFN
MODEL_ID=e4c8aa9f-20db-48df-bb3d-818dbf57a023
# 当室内温度不可用的时候随机设定的室内温度
Random_Set_Indoor_Temp=21.3
# 当前建筑物所能够接受的最高二次网温度
Sec_Net_Temp_Upper_Bound=45
# ++++++++++++ 必选参数 +++++++++++++++++++++++++++++
Is_Control_Sec_Net_GST_DB=Y
Control_Sec_Net_GST_DB=30
Control_Sec_Net_GST_Hours=6,7,8,9,16,17,18,19,20,21