# ++++++++++++ 必选参数 +++++++++++++++++++++++++++++
# 热源组编号
Boilers_ID=200001
# 热源组名称
Boilers_Name=喜马拉雅项目
# 关联的建筑物群编号
Building_IDs=100002,100003,100004,100008,
# 项目的控制间隔时长（分钟）
Control_Interval=30
# ++++++++++++ 查询数据的数据库链接信息 +++++++++++++++
Read_Database_Host=192.168.10.10
Read_Database_Port=3306
Read_Database_User=zhangweijian
Read_Database_Password=zhangweijian
Read_Database_Db=600ly_basic_data
# ++++++++++++ 查询数据的数据库链接信息 +++++++++++++++
# 使用的锅炉编号
Cur_Boiler_ID=1
MODEL_ID=2ac918c4-e9fe-43d4-ad93-a9bfc090fe3d