# ++++++++++++ 必选参数 +++++++++++++++++++++++++++++
# 热源组编号
Boilers_ID=200002
# 项目名称
Boilers_Name=云杉镇项目
# 关联的建筑物群编号
Building_IDs=100005,
# 项目的控制间隔时长（分钟）
Control_Interval=30
# 气象站数据表名称
WeatherStation_Table=bd_weather_station_2021
# 气象站的设备ID
WeatherStation_ID=100006
# ++++++++++++ 查询数据的数据库链接信息 +++++++++++++++
Read_Database_Host=192.168.10.10
Read_Database_Port=3306
Read_Database_User=zhangweijian
Read_Database_Password=zhangweijian
Read_Database_Db=600ly_basic_data
# ++++++++++++ 查询数据的数据库链接信息 +++++++++++++++
# 大棚室内温度的下限
DP_TEMP_MIN=8
# 访问网络数据账号和口令
ACCESS_TOKEN=17_-z7lTsRwNjyjaUYlgE-NQCgDJIMWMVe3K7rogtG_9MyhdXI8hj0pYNZnvoNJdGACUVv28vRpTw0FM_WGNXLaQw8kFf0tryaMV0XeF0KShgg0DsyyhwEo96mCtlaWHe2DY4QbyUFUE169oU7IGCKdAAAJFN
MODEL_ID=331855a7-4d35-4b11-8fee-3189fa3196b5
# 使用的锅炉编号
Cur_Boiler_ID=1