# ++++++++++++ 必选参数 +++++++++++++++++++++++++++++
# 热源组编号
Boilers_ID=200006
# 项目名称
Boilers_Name=桃李春风项目
# 关联的建筑物群编号
Building_IDs=100013,
# 项目的控制间隔时长（分钟）
Control_Interval=30
# 气象站数据表名称
WeatherStation_Table=bd_weather_station_2021
# 气象站的设备ID
WeatherStation_ID=100023
# 访问网络数据账号和口令
ACCESS_TOKEN=17_-z7lTsRwNjyjaUYlgE-NQCgDJIMWMVe3K7rogtG_9MyhdXI8hj0pYNZnvoNJdGACUVv28vRpTw0FM_WGNXLaQw8kFf0tryaMV0XeF0KShgg0DsyyhwEo96mCtlaWHe2DY4QbyUFUE169oU7IGCKdAAAJFN
MODEL_ID=758059fd-5a50-4a6b-9b6c-859b88e058ca
# ++++++++++++ 查询数据的数据库链接信息 +++++++++++++++
Read_Database_Host=192.168.10.10
Read_Database_Port=3306
Read_Database_User=zhangweijian
Read_Database_Password=zhangweijian
Read_Database_Db=600ly_basic_data
# ++++++++++++ 查询数据的数据库链接信息 +++++++++++++++
# 一次网的流量
Fir_Net_Flew=358